body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 250px;
    align-items: center;
}

div {
    height: 150px;
    width: 150px;
    background-color: orangered;
    border: solid 5px  black;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 7px whitesmoke;
}

p{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;  
}

.clock-wise {
    animation-name: clockwise;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes clockwise {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}


.anti-clockwise {
    animation-name: anticlockwise;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes anticlockwise {
    from{transform: rotate(360deg);}
    to{transform: rotate(0deg);}
}